<div class="text-center signin-container">
    <div class="form-signin" [formGroup]="group">
    
        <img class="mb-4" src="./../../../assets/images/icon.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Registrarse</h1>
       
        <label for="inputName" class="sr-only">Nombre</label>
        <input type="email" id="inputName" class="form-control" placeholder="Nombre" formControlName="name">
        
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email" formControlName="email">
        
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" formControlName="password" required>
        
        <label for="inputConfirmPassword" class="sr-only">Contraseña</label>
        <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirmar contraseña" formControlName="confirmPassword" required>
        
        <button class="btn btn-lg btn-primary btn-block" (click)="onSignIn()">Registrarse</button>
        <p class="mt-5 mb-3 text-muted">&copy; uveg</p>
    </div>
</div>
