:host {
    margin-bottom: 15px;

    .card {
        .card-image-container {
            max-height: 180px;
            min-height: 180px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3px;
            overflow: hidden;
    
            img {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
            }
        }
    
        .card-body {
            .card-text {
                max-height: 120px;
                min-height: 120px;
                overflow: hidden;
            }
        }
        
    }
}
