<div class="card" style="width: 18rem;">
    <div class="card-image-container">
        <img class="card-img-top" [src]="car ? car.image : '../../../assets/images/games/game1.jpg'" alt="Imagen no disponible">
    </div>
    <div class="card-body">
        <h5 class="card-title"> {{ car ? car.title : 'Sin nombre' }} </h5>
        <h5 class="card-title"> {{ car ? car.fecha : 'Sin nombre' }} </h5>
        <p class="card-text"> {{ (car ? car.description : 'Sin descripción') | slice:1:150 }} ... </p>
        <button href="#" class="btn btn-primary" (click)="onBuy()">Agregar al carrito</button>
    </div>
</div>