<div class="container pt-5">
    <div>
        <app-nav-bar></app-nav-bar>
    </div>
    <br>
    <br>
    <h2 class="titulo"> Agregar Videojuegos</h2>
    
    <div class="form-add-game" >
    
        <img class="mb-4" src="./../../../assets/images/icon.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Registra un nuevo videojuego</h1>
       
        <label for="inputName" class="sr-only">Título:</label>
        <input type="email" id="inputTitle" class="form-control" placeholder="Ingresa el título del video juego" formControlName="title">

        <label for="inputPassword" class="sr-only">Fecha de lanzamiento:</label>
        <input type="email" id="inputDate" class="form-control" placeholder="Ingresa la fecha de lanzamiento" formControlName="date" required>
        
        <label for="inputEmail" class="sr-only">Descripción:</label>
        <input type="email" id="inputDescription" class="form-control" placeholder="Ingresa la descripción del video juego" formControlName="description">
        
        <label for="inputConfirmPassword" class="sr-only">Número de descargas:</label>
        <input type="password" id="inputDownloads" class="form-control" placeholder="0" formControlName="downloads" required>
        
        <button class="btn btn-lg btn-primary btn-block">Agregar</button>
        <p class="mt-5 mb-3 text-muted">&copy; uveg</p>
    </div>
    <div class="car-container">
    </div>
    
</div>